Source: dde-file-manager-extensions
Priority: optional
Maintainer: Deepin Packages Builder <packages@linuxdeepin.com>
Build-Depends:
 cmake,
 debhelper (>= 11),
 dde-file-manager (>= 6.0.34),
 cryptsetup (>= 2.3.7),
 libusec-recoverykey
Standards-Version: 4.1.3
Section: libs
Homepage: http://www.deepin.org

Package: dfmplugin-disk-encrypt
Architecture: any
Multi-Arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: A plugin for dde-file-manager to encrypt disks.
 A plugin for dde-file-manager to encrypt disks.
