Source: dde-file-manager-extensions
Priority: optional
Maintainer: Deepin Packages Builder <packages@linuxdeepin.com>
Build-Depends:
 cmake,
 pkg-config,
 debhelper (>= 11),
 qtbase5-dev,
 qttools5-dev,
 libdtkwidget-dev,
 libdtkcore-dev,
 libdtkcore5-bin,
 libdfm-mount-dev,
 libdfm-io-dev,
 libpolkit-agent-1-dev,
 libpolkit-qt5-1-dev,
 dde-file-manager-dev,
 libcryptsetup-dev (>= 2:2.3.7),
 libdeepin-service-framework-dev
Standards-Version: 4.1.3
Section: libs
Homepage: http://www.deepin.org
 
Package: dde-desktop-videowallpaper-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Video wallpaper plugin for DDE Desktop.

